body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    overflow-x: hidden;

}

.wrapper {
    width: 1920px;
    margin: 0 auto;

}

.nav-bar {
    display: flex;
    justify-content: space-around;
    background-color: black;
}

#middle-nav-bar {
    display: flex;
}

#middle-nav-bar li,
#left-nav-bar li,
#right-nav-bar li {
    list-style-type: none;
}

#middle-nav-bar li a,
#left-nav-bar li a,
#right-nav-bar li a {
    color: black;
    margin-left: 1em;
    text-decoration: none;
    color: white;
    font-size: 21px;
}

#left-nav-bar li a {
    font-size: 25px;
}

#left-nav-bar li a span {
    color: red;
}

.under-nav-bar {
    display: flex;
    gap: 0.5em;
    background-color: black;
    justify-content: space-evenly;
}

#image-one {
    width: 20px;
    color: white;
}

#one {
    font-size: 15px;
    font-weight: 30px;
    color: white;
}

.under-left-container,
.under-middle-container,
.under-right-container {
    display: flex;
    gap: 0.5em;

}

.container {
    background-image: url("../images/banner-image-org.png");
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .overlay {
    height: 70vh;
    opacity: 0.3;
    width: 1920px;
    background: linear-gradient(to bottom, black);
    position: absolute;
}

.container .text {
    z-index: 2;
    color: white;
    font-size: 30px;
    text-align: center;
}

.container .text h1 {
    margin: 0px;
}

.container .text span {
    font-size: 20px;
    letter-spacing: 18px;
    margin-top: 0px;
    color: rgb(214, 19, 19);
}

.container .text .link a {
    text-decoration: none;
    color: white;
    padding: 20px 50px;
    border: 1px solid white;
}

.container .text .link {
    margin-top: 2em;
}

.main-container {
    background-color: #f5f5f5;
}

.main-container .New-Arrivals-Title h1,
.main-container .Featured-Products-Title h1,
.main-container .Trending-Now-Title h1 {
    font-family: "Roboto Mono", monospace;
    text-align: left;
    margin-left: 2em;
    font-size: 36px;
}

.main-container .New-Arrivals-Title,
.main-container .Featured-Products-Title,
.main-container .Trending-Now-Title {
    height: 700px;
}

.main-container .New-Arrivals-Title .New-Arrivals-products,
.main-container .Featured-Products-Title .Featured-Products,
.main-container .Trending-Now-Title .Trending-Now-Products {
    display: flex;
    justify-content: space-evenly;
    height: 533px;
}

.main-container .New-Arrivals-Title .New-Arrivals-products .na-product img,
.main-container .Featured-Products-Title .Featured-Products .fp-product img,
.main-container .Trending-Now-Title .Trending-Now-Products .tn-product img {
    width: 300px;
    /*350*/
}

.main-container .New-Arrivals-Title .New-Arrivals-products .na-product h3,
.main-container .Featured-Products-Title .Featured-Products .fp-product h3,
.main-container .Trending-Now-Title .Trending-Now-Products .tn-product h3 {
    font-size: 21px;
    margin: 5px 0 0 0.5em;
    /*top right bottom left*/
}

.main-container .New-Arrivals-Title .New-Arrivals-products .na-product p,
.main-container .Featured-Products-Title .Featured-Products .fp-product p,
.main-container .Trending-Now-Title .Trending-Now-Products .tn-product p {
    font-size: 23px;
    font-weight: bold;
    margin: 15px 0 1em 0.5em;
}


.main-container .New-Arrivals-Title .New-Arrivals-products .na-product a,
.main-container .Featured-Products-Title .Featured-Products .fp-product a,
.main-container .Trending-Now-Title .Trending-Now-Products .tn-product a {
    border: 1px solid black;
    padding: 0.5em 96px;
    text-align: center;
    font-size: 20px;
    color: black;
    background-color: white;
    text-decoration: none;
}

.main-container .New-Arrivals-Title .New-Arrivals-products .na-product a:hover,
.main-container .Featured-Products-Title .Featured-Products .fp-product a:hover,
.main-container .Trending-Now-Title .Trending-Now-Products .tn-product a:hover {
    color: white;
    background-color: black;
}

.footer {
    background-color: black;
    margin: 0px;
}

.catalog {
    display: flex;
    justify-content: center;
    gap: 3.5em;
    padding: 0px;
    margin: 0px;

}

#title {
    color: rgb(214, 19, 19);
}

#footer-inner-ul li {
    color: white;
    list-style-type: none;
    margin-bottom: 10px;
}

#footer-inner-ul p {
    font-size: 24px;
}

.footer hr {
    color: white;
}

.footer-logo p {
    color: white;
    font-size: 35px;
}

.footer p {
    color: white;
    text-align: center;
}

/*Catalog Style*/

.catalog{
    background-color: #f5f5f5;
}

.catalog-items {
    display: flex;
    justify-content: space-evenly;
    gap: 3em;
    
}

.catalog-items ul li {
    list-style-type: none;
    margin-bottom: 10px;
}

#catalog-title {
    font-size: 25px;
    text-decoration: underline;
}

.catalog-items ul li a {
    font-size: 22px;
    color: black;
    text-decoration: none;
}

.catalogg .image img {
    width: 1900px;

}

#tops-image-under-categories,
#bottoms-image-under-categories,
#outewear-image-under-categories,
#shoes-image-under-categories,
#accessories-image-under-categories{
    width: 200px;
}

/*inner-catalog-item*/

.product {
    display: flex;
    justify-content: center;

}

.product-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.product .image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.product .image img {
    height: 700px;
    width: 500px;
    margin-right: 2em;
    border: 1px solid black;
}

.discription {
    width: 50%;
}

.discription h3 {
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
}

.discription .price {
    font-size: 30px;
    letter-spacing: 3px;
    color: red;
}

.discription p:nth-child(3) {
    font-size: 22px;
}

.discription p:nth-child(4) {
    font-size: 22px;
    margin: 0px;
}

.discription .size {
    display: flex;
    gap: 0.5em;
}

.discription .size a {
    padding: 10px 20px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
}

#ruler {
    display: flex;
    gap: 0.4em;
    margin-top: 1em;
    text-decoration: none;
}

#ruler img {
    width: 25px;
}

.discount-text li {
    font-size: 20px;
    margin-bottom: 1.2em;
}

.discription .btn {
    display: flex;
    gap: 0.5em;
}

.discription .btn a {
    text-decoration: none;
    color: black;
}

.discription .btn #minus-plus {
    padding: 10px 20px;
    font-size: 20px;
}

.discription .btn #count {
    padding: 10px 40px;
}

.discription .btn #size-btn {
    padding: 10px 100px;
    border: 1px solid black;
    font-size: 23px;
    background-color: black;
    color: white;
}

.discription .btn #size-btn:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
}

.discription h2 {
    display: flex;
    font-size: 33px;
}

.discription h2 img {
    width: 28px;
}

.discription #d-discription {
    font-size: 20px;
    line-height: 1.4;
    margin: 0px;
}

/*FAQ styles*/

.header-faq-title {
    background-image: url('/FashionHub/images/background-image-faqs-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: contain;
    background-size: 100% 100%;
    /* background-color: rgb(31, 26, 26); */
    height: 100px;
}

.header-faq-title h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    margin: 0px;
    font-size: 50px;
    text-align: center;
}

.random-btn {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin-top: 10px;
    justify-content: center;
}

.random-btn a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px solid black;
    padding: 1em 2em;
    text-decoration: none;
    background-color: black;
    color: white;
}

.random-btn a:hover {
    color: black;
    background-color: white;
}

.option {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.option h1 {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.text-icon h4 {
    margin-left: 2em;
}

.text-icon img {
    margin-right: 2em;
}

.option .text-icon h4 {
    font-size: 20px;
}

.option .text-icon img {
    width: 20px;
}

.option .text-icon {
    display: flex;
    justify-content: space-between;
}

/*catalog-items*/

.product-container {
    display: flex;
    justify-content: center;
    gap: 5em;
    margin-top: 5em;
}

.item {
    height: 626px;
}

.product-container .item img {
    width: 300px;
}

.product-container .item h4 {
    font-size: 29px;
    margin: 0 0 0 5px;
    letter-spacing: 1px;
    font-weight: normal;
}

.product-container .item p {
    margin: 10px 0 0 5px;
    font-size: 18px;
}

.product-container .item #price {
    color: red;
    font-size: 25px;
    margin-bottom: 20px;
}

.product-container .item a {
    padding: 10px 108px;
    border: 1px solid black;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.product-container .item a:hover {
    color: white;
    background-color: black;
}

#bottom-container {
    margin-bottom: 10em;
}

.number-page {
    display: flex;
    justify-content: center;
    gap: 1px;
    margin-bottom: 5em;
}

.number-page a {
    border: 1px solid black;
    font-size: 25px;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
}

/*About*/

.about {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.about .about-image {
    display: flex;
    justify-content: center;
}

.about .about-image img {
    width: 300px;
    margin-top: 5em;
}

.about .text p {
    text-align: center;
    margin: 1.5em 10em 0 10em;
    font-size: 20px;
    line-height: 1.5;
}

.about .text p span {
    font-weight: bold;
    font-size: 18px;
}

.about .text h3 {
    font-size: 30px;
    font-weight: normal;
    text-align: center;
}

#last-p {
    margin-bottom: 3em;
}

/*Contacts*/

.contact-form-page {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: #fff;
}

.page-container {
    background: linear-gradient(135deg, #e91e63, #ff5722);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.contact-container {
    background: white;
    padding: 40px 50px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

.contact-container h2 {
    margin-bottom: 25px;
    font-size: 26px;
    font-weight: 600;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

label {
    text-align: left;
    font-size: 12px;
    color: #555;
    letter-spacing: 1px;
    font-weight: 500;
}

input,
textarea {
    border: none;
    border-bottom: 2px solid #ccc;
    padding: 8px 4px;
    font-size: 14px;
    font-family: inherit;
    outline: none;
    transition: border-color 0.3s;
}

input:focus,
textarea:focus {
    border-bottom: 2px solid #e91e63;
}

button {
    margin-top: 15px;
    background: linear-gradient(90deg, #e91e63, #ff5722);
    color: white;
    border: none;
    padding: 12px 0;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    font-weight: 500;
    transition: transform 0.2s, opacity 0.3s;
}

button:hover {
    transform: translateY(-2px);
    opacity: 0.9;
}

/*collection*/